<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nektarlabs.martianmonster" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:name=".Application.MMApplication">
        >
        <activity android:name=".Activities.MainActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0ab16672c93474a83c728078cb9b8991188bb3ca"/>

        <activity android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
                  android:theme="@android:style/Theme.Translucent" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
